@charset "UTF-8";

footer{
  background-color: #aa0000;
}

tr#destaque:hover{
    background-color: lightgreen !important;
}

.espaco55{
    margin-left: 80px;
}
.texto_icone{
    line-height: 1;
}
.btn_inicial{
    width:130px;
    height: 130px;
    background-color: #2f4f4f;
}

/*.teste{
    height: 500px !important;
    overflow: auto;
}*/

#div_alterar_senha{
    margin-left: 160px;
    background-color: #e6e6e6;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#div_inform_senha{
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    margin-left: 160px;
    background-color: rgba(33, 150, 243, 0.8);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/*CSS da div onde estõ as informações do diretor*/
#info_diretor{
    font-family: "Arial";
    font-size: 20px;
    line-height: 0.2;
    margin-top: -20px;
}
h4{
    font-family: Arial;
    font-weight: bold;
    font-size: 40px;
}
form#ent{
    line-height: 1;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.altera_fonte_cab{
    font-size: 11pt;
}
.altera_fonte_corpo{
    font-size: 10pt;
}
.add_arquivo{
    width: 50%;
}
.espaco_linha{
    margin-bottom: 100px;
}
.font_select{
    padding: 2px 2px; !important
    font-size: 10pt; !important
    line-height: 0.1; !important
}
.alerta_popup{
    float: left;
    position: absolute;
    margin: -18px 0 0 105px;

}
.mover_btn_baixo{
    margin-top: 10px;
}
.submenu{
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}