@charset "UTF-8";

body{
    background-color: #e6ecf0;
    margin: 0px auto 0px auto;
    overflow: auto;
}
.container22{
    width: 900px;
    margin: 0px auto 0px auto;
}

input:hover{
    background-color: cornflowerblue;
}
h4{
    text-align: center;
    font-size: 22px;
    font-family: Algerian;
    color: black;
    margin-top: 15px;
    position: relative;
}
header#cab{
    font-size: 18px;
    font-family: "Times New Roman";
    color: black;
    line-height: 0.3;
    position: relative;
}

p#cab_usu{
    margin: 10px;
}
p#cab_cpf{
    margin: 10px;
}
i#icon_user{
    margin-left: 10px;
    margin-top: -50px;
}
header#cab{
    width: 900px;
    height: 100px;
    background-color: #ffffff;
    position: relative;
    left: 170px;
    top: -23px;
    box-shadow: 1px 1px 1px black;
}
div.cabecalho{
    position: relative;
}
main#corpo{
    width: 900px;
    height: 500px;
    position: relative;
    background-color: #ffffff;
    left: 170px;
    top: -20px;
    box-shadow: 1px 1px 1px black;
    alignment: center;
}
div.corpo{

}
footer#rodape{
    width: 900px;
    height: 35px;
    position: relative;
    background-color: #ffffff;
    left: 170px;
    top: -31px;
    box-shadow: 1px 1px 1px black;
}
div.rodape{

}
p.center{
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: "Arial";
    padding-top: 8px;
}


/*Botões da Tela principal*/

div.caixa1{
    background-color: #aa514b;
    width: 100px;
    height: 100px;
    position: relative;
    top: 10px;
    left: 50px;
}
div.caixa2{
    background-color: #aa514b;
    width: 100px;
    height: 100px;
    position: relative;
    top: -90px;
    left: -600px;
    float: right;
}
div.caixa3{
    background-color: #aa514b;
    width: 100px;
    height: 100px;
    position: relative;
    top: -90px;
    left: -350px;
    float: right;
}

.btn1{
    width: 100px;
    height: 100px;
    border: none;
    background: url("../_imagens/botao-add.jpg") no-repeat;
    outline:0;
    -moz-outline:0;
    cursor:pointer;
}
/* Config do formulário da tela cadastro de de Usuário*/
fieldset#form-tela-cadastra-user{
    width: 300px;

}
#icon_sair{
    float: left;
    margin: -30px 0px 0px 670px;
}


/*posicionando grade*/
div#t1{
    background-color: #ffffff;
    height: 150px;
    margin-top: 1px;
    box-shadow: 1px 1px 1px black;
}
div#t2{
    background-color: #ffffff;
    height: 150px;
    margin-top: 1px;
    line-height: 0.4;
    box-shadow: 1px 1px 1px black;
}
div#t3{
    background-color: #ffffff;
    height: 550px;
    margin-top: 2px;box-shadow: 1px 1px 1px black;
}
div#t4{
    background-color: #ffffff;
    height: 100px;
    margin-top: 2px;
    box-shadow: 1px 1px 1px black;
}